<h2 class="text-center">Edit Cryptocurrency Purchase</h2>

<%= simple_form_for(@currency_purchase, url: currency_purchase_path(@currency_purchase), html: { method: :patch }) do |f| %>
  <h4 class="my-3"><%=@currency.name%></h4>
  <div class="form-inputs">
    <%= f.input :purchase_price, input_html: { step: "any" } %>
    <%= f.input :units, as: :numeric %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Edit Cryptocurrency Purchase", class: 'btn btn-primary btn-block btn-lg' %>
  </div>
<% end %>