/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*               _____  _____ _____                     */
/*              /  __ \/  ___/  ___|                    */
/*              | /  \/\ `--.\ `--.                     */
/*              | |     `--. \`--. \                    */
/*              | \__/\/\__/ /\__/ /                    */
/*              \____/\____/\_____/                     */
/*                                                      */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*


*/
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*

*/
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/*                   Dependencies                       */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

*           { margin: 0; }
html, body  { height: 100%; }
html        {
	height:          100%;
  color:           #fff;
	background:      #121212;
	background-size: 100% 100%;
  box-sizing:      border-box;
}
body        {
  position:        relative;
	font-family:     Helvetica, Arial, Sans-Serif;
	font-size:       12px;
	text-transform:  capitalize;
  box-sizing:      border-box;
  overflow-x:      hidden;
}
a       { color: #fff; text-decoration: none; }
a:hover { text-decoration: underline; }

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

.exception {
  display:          block;
  color:            rgba(0,0,0,1);
  position:         relative;
  width:            20%;
  top:              48%;
  margin:           auto;
  border:           1px solid rgba(0,0,0,1);
  max-width:        400px;
  min-width:        350px;
  border-radius:    5px;
  box-sizing:       border-box;
  box-shadow:       0px 0px 2px 0px rgba(0,0,0,0.5);
  background:       rgba(16,0,1,1);
  background-image: linear-gradient(to bottom, rgba(16,0,1,1) 70%,rgba(0,0,0,1) 100%);
  background-clip:  content-box;
  overflow-x:       hidden;
  overflow-y:       hidden;
  transition:       background 0.1s ease-in-out;
  transform:        translateY(-50%);
  z-index:          10;
}
.exception::before {
  content:           url(/assets/exception_handler/icon-63885ff575fcceb83c2b5d396c9cdfd42a159a20fa61312bbc3f2c6151e1afc9.png) "  " attr(data-response);
  display:           block;
  color:             rgba(255,255,255,1);
  font-size:         1.25em;
  font-weight:       bold;
  text-transform:    capitalize;
  padding:           1em;
  line-height:       10px;
  text-shadow:       0 1px 0 rgba(0,0,0,1);
  border-bottom:     1px solid rgba(122,11,11,1);
  vertical-align:    middle;
  background-color:  rgba(227,11,11,1);
  background-image:  url(/assets/exception_handler/noise-dc65de8c91f2d53fa26f8d5643c4dbe005c043b9f29cea0fc107af2326572768.png), linear-gradient(to bottom,  rgba(227,11,11,0) 0%,rgba(0,0,0,0.55) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007a07ed', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.exception::after {
  content:       attr(data-rails) " \203A\203A  Our developers have been notified.";
  display:       block;
  padding:       1em;
  font-size:     0.8em;
  line-height:   11px;
  color:         rgba(255,255,255,1);
  text-align:    center;
  box-sizing:    border-box;

  border-width:  0 1px 1px;
  border-color:  rgba(255,255,255,0.09);
  border-style:  solid
}

.exception span:before {
  display:         block;
  content:         url(/assets/exception_handler/alert-5b675713d76944191ded7ab2328c307cde6d5191b84173003d250ae68df87b16.png);
  padding:         3.5em 0 1em;
  text-align:      center;
}
.exception span {
  position:         relative;
  display:          block;
  min-height:       288px;
  color:            rgba(255,255,255,1);
  padding:          0 2.5em 3em;
  box-sizing:       border-box;
  background-clip:  border-box;
  text-align:       center;
  background:       url(/assets/exception_handler/alert-d00e32cef29803da3e873963ca9d67c7ada7f252899882fc6721b432f63c7266.jpg) top center no-repeat;

  border-top:       1px solid rgba(0,0,0,0.05);
  border-left:      1px solid rgba(255,255,255,0.08);
  border-right:     1px solid rgba(255,255,255,0.08);
}
.exception span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;

  background: rgba(0,0,0,0.35);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.35)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.exception span strong {
  display:          block;
  font-size:        2em;
  margin:           1em 0 0.25em;
  text-transform:   uppercase;
}
.exception span p { display: block; margin-top: 1.5em; font-size: 0.85em; text-decoration: underline; }
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

footer {
  display:  block;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}
footer a       {
  display: inline-block;
  margin-right: -4px;
  padding: 1.5em 0.3em;
  vertical-align: middle;
  transition: opacity 0.15s ease-in-out;
}
footer a:hover { text-decoration: none; }
footer a img   { width: 30px; vertical-align: middle; }

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* Responsive */
@media screen and (max-width: 950px) {
	html 				{ background-size: cover !important; }
	.container .error	{ width: 55% !important; }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
