body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin:0;
}

#sign-up-button{
    font-size: 1.5rem;
    a{
        display: inline-block;
        border-color: black;
        box-shadow: 6px 5px 5px rgb(53, 45, 45);
    }
}

#search-list {
    li{
        font-size: 1.5rem;
        &:hover {
            margin: 10px 15px 10px 0;
          }
    }
}

#results-table{
    font-size: 1.3rem;
}

#currencies-table{
    text-align: center;
    font-size: 1.1rem;
}

.vh-min-body{
    min-height: calc(100vh - 56px);
}

.min-calculator-height{
    min-height: calc(100vh - 389px);
}

.min-height-30{
    min-height: 30vh;
}

.min-height-40{
    min-height: 40vh;
}

tbody td svg{
    cursor: pointer;
}