<h2>Edit Account</h2>

<%= simple_form_for(@user, url: user_path(@user), html: { method: :patch }) do |f| %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update Account", class: 'btn btn-primary btn-block btn-lg' %>
  </div>
<% end %>

<br>
<%= active_link_to('Edit Account Settings', edit_user_registration_path, class: 'btn btn-outline-primary') %>
