<% if notice %>
    <div class="alert alert-primary alert-dismissible fade show m-0" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
<% end %>
<% if alert %>
    <div class="alert alert-primary alert-dismissible fade show m-0" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
<% end %>