<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "Crypto Portfolio Manager", root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <% if user_signed_in? %>
                <li class="nav-item"><%= active_link_to('Portfolio', root_path, class: 'nav-link', active: :exclusive) %></li>
                <li class="nav-item"><%= active_link_to('Currencies', currencies_path, class: 'nav-link') %></li>
                <li class="nav-item"><%= active_link_to('Account', edit_user_path(current_user), class: 'nav-link') %></li>
                <li class="nav-item"><%= active_link_to "Log Out", destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
            <% else %>
                <li class="nav-item"><%= active_link_to('Log In', new_user_session_path, class: 'nav-link') %></li>
                <li class="nav-item"><%= active_link_to('Sign up', new_user_registration_path, class: 'nav-link') %></li>
            <% end %>
        </ul>
    </div>
</nav>
