<!DOCTYPE html>
<html>
  <head>
    <title>CryptoPortfolioManager</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
    <%= render 'shared/nav' %>
    <%= render 'shared/alerts' %>
    <div class="container">
      <%= yield %>
    </div>
</html>
