<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    <!-- Info -->
    <%= content_tag :title, "Error - #{@exception.status} (#{@exception.response.to_s.gsub("_", " ").titleize}) | #{Rails.application.class.module_parent_name.titleize}" %>

    <!-- Styling -->
    <%= stylesheet_link_tag :exception_handler %>
    <%= favicon_link_tag "exception_handler/favicon.ico" %>
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if x = ExceptionHandler.config.options(@exception.status) %>
      <style>body { background: url("<%= asset_path x %>") center center no-repeat !important; background-size: cover !important; }</style>
    <% end %>

    <!-- Auth -->
    <%= csrf_meta_tags %>
  </head>

  <!-- Body -->
  <%= render 'shared/nav' %>
  <%= content_tag :body, yield, :class => "bg-secondary"%>

  <!-- Footer -->
  <% if ExceptionHandler.config.try(:social) %>
    <%= content_tag :footer do %>
      <% ExceptionHandler.config.social.each do |k,v| %>
        <%= link_to image_tag("exception_handler/connect/#{k}.png"), ExceptionHandler::Config::SOCIAL[k] + "/" + v, id: k, title: "#{k.to_s.titleize} Feed", target: :blank if v %>
      <% end %>
    <% end %>
  <% end %>

</html>
